
@media (min-width: 768px) {
    .content-slider.content-slider--first{
        transform: translateY(-50px);
    }
}
@media (min-width: 992px) {
    .content-slider.content-slider--first{
        transform: translateY(-108px);
    }
}

.content-slider img{
    max-width: 100%;
    height: 223px;
}

.content-slider__info{
    margin-top: 15px;
}

.content-slider .swiper-slide{
    width: 396px;
}

.content-slider__info-state{
    background-color: #ff0000;
    color: white;

    padding: 6px 13px;
}

.content-slider__info-date{
    background-color: rgba(255,255,255,0.4);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-size: 11px;
}

.content-slider__info-category{
    background-color: rgba(255,255,255,0.3);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 15px;
}

.content-slider__headline{
    font-size: calc(16rem/16);
    margin-top: calc(16rem/16);

    line-height: 1.3;
}

.content-slider .swiper-button-disabled{
    display: none;
}

.content-slider .swiper-slide{
    padding: 10px;
}
@media (min-width: 992px) {
    .content-slider .swiper-slide{
        padding: 20px;
    }
}

.play-button-wrapper{
    position: relative;
}
.play-button-wrapper .play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
}

.content-slider .swiper-slide{
    transition: background-color 250ms ease;
}
.content-slider .swiper-slide:hover{
    background-color: #ff0000;

    transition: background-color 250ms ease;
}

.play-button{
    opacity: 0;
    transition: opacity 250ms ease;
}

.content-slider .swiper-slide:hover .play-button{
    opacity: 1;
    transition: opacity 250ms ease;
}
.content-slider__headline .stretched-link{
    color: inherit;
    text-decoration: none;
}


.content__headline{
    font-size: calc(36rem/16);
    text-transform: uppercase;
    margin: calc(17rem/16) calc(103rem/16) calc(17rem/16) 0;
}
@media (max-width: 1300px) {
    .content__headline{
        margin-right: calc(40rem/16);
    }
}

.content-categories{
    display: flex;
    list-style: none;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 10px 0;
}
.content-categories::-webkit-scrollbar {
    height: 5px;
    background-color: rgba(255,255,255,0.5);
}

.content-categories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-categories::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    outline: 1px solid slategrey;
}


.content-categories li{
    position: relative;
    margin-right: calc(51rem/16);
    text-transform: uppercase;
    font-size: calc(14rem/16);
}
.content-categories li:not(:last-child):after{
    content: '';
    width: 1px;
    height: 20px;
    background-color: #fff;
    min-width: 1px;
    position: absolute;
    top: -2px;
    right: -25px;
}

.content-categories li a{
    opacity: .5;
}
.content-categories li a:hover,
.content-categories li.active a{
    opacity: 1;
}

.content__multiple{
    position: relative;
}
.content__multiple .content-select{
    position: absolute;
    right: 0;
}
@media (min-width: 992px) {
    .content__multiple .content-categories{
        max-width: calc(100% - 210px);
    }
}

@media (max-width: 991px) {
    .content__multiple .content-select{
        transform: translateY(-50px);
    }
    .content__multiple .content-categories{
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .content__multiple .content-select{
        transform: translateY(0px);
        position: relative;
        margin-top: 20px;
    }
}

.content-categories a{
    color: inherit;
    text-decoration: none;
}

.content-select label {
    display: none;
}

.content-select select{
    background-color: transparent;
    color: white;
    padding: 5px 70px 5px 10px;
}
.content-select option{
    color: #000;
}